//@import "~bootstrap/scss/bootstrap";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/spinners";

@import "~bootstrap/scss/helpers/text-truncation";
@import "~bootstrap/scss/helpers/visually-hidden";

@import "~bootstrap/scss/utilities/api";

* {
    -webkit-transition: background-color 250ms linear, color 250ms linear;
    -ms-transition: background-color 250ms linear, color 250ms linear;
    transition: background-color 250ms linear, color 250ms linear;
}

.dark-mode {
    background-color: #121212;
}

a {
    text-decoration: none !important;
}

.breadcrumb-item {
    overflow-wrap: anywhere;
}

.card {
    margin: 3px;
}

.card-title {
    font-size: 0.9rem;
    margin: 0;
}

.card-subtitle {
    font-size: 0.7rem;
    color: #b4b4b4;
    margin-top: 2px;
}

.view-icon {
    padding: 50px 10px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-color: transparent;
    border: 0;
    color: #ffffff;
    transition: all 0.3s ease-out;

    img {
        width: 64px;
        height: 64px;
    }
}

.view-icon-left {
    left: 0;
}

.view-icon-right {
    right: 0;
}

.view-item {
    max-height: calc(100vh - 96px);
    width: 100%;
    object-fit: contain;
}

@media only screen and (max-width: 576px) {
    .view-icon {
        visibility: hidden;
    }
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}
